doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body

    .navbar.navbar-expand-lg.navbar-light.bg-light
      a(class="navbar-brand", href="#") WishList WebApp
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    
      div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(class="nav-link", href="#") Home
          li.nav-item
            a(class="nav-link", href="#") New Wish
          
    .container
      block content

      footer
        .row
        .col-xs-12
          small &copy; chiccokb24 2019  
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')  