extends layout

block content

    #banner.page-header
        .row
            .col-lg-12
                h4 &nbsp;

    .row
        .col-xs-12.col-sm-3
            div(class="card", style="width: 18rem;")
                img(class="card-img-top", src="images/dyson_test.jpg")
                div(class="card-body")  
                    h5.card-title Card Title
                    h6.card-subtitle.mb-2.text-muted Card SubTitle
                    p.card-text Description of the item here...
                    a.btn.btn-primary Go somewhere
        &nbsp;&nbsp;
        .col-xs-12.col-sm-3
            div(class="card", style="width: 18rem;")
                img(class="card-img-top", src="images/dyson_test.jpg")
                div(class="card-body")  
                    h5.card-title Card Title 2
                    h6.card-subtitle.mb-2.text-muted Card SubTitle 2
                    p.card-text Description of the item here...
                    a.btn.btn-primary Go somewhere
    
    #banner.page-footer
        .row
            .col-lg-12
                h4 &nbsp;